<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/css/style.css">
		<title>insta485</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<a href='/'><img src="/static/images/logo.png" alt="Instagram logo" width="30" height="30">
			<i>Insta</i>485</a>
			<div style="float:right">
				<b> 
					<a href="/explore/">Explore</a> 
				</b>|
				<a href="/u/{{logname}}/"> {{logname}} </a>
			</div>
		</header>
		<div id="reactEntry"> Loading ...</div>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
		</div>
	</body>
</html>
