<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/style.css">
		<title>insta485</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

	<form action="" method="post" enctype="multipart/form-data">
	  <input type="password" name="password" placeholder="password" />
	  <input type="password" name="new_password1" placeholder="new password" />
	  <input type="password" name="new_password2" placeholder="new password again" />
	  <input type="submit" name="update_password" value="submit"/>
	</form>

	<br>
	<a href = "/accounts/edit/"><strong>Back to edit account</strong></a>



	</body>
</html>