<!DOCTYPE html>
<html lang="en">
<head>
		<link rel="stylesheet" href="/static/css/style.css">
		<title>insta485</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<a href='/'><img src="/static/images/logo.png" alt="Instagram logo" width="30" height="30">
			<i>Insta</i>485</a>
			<span style="float:right; font-size:smaller"><b> <a href="/explore/">Explore</a> </b>|<a href="/u/{{logname}}/"> {{logname}} </a></span>
		</header>
        <div class="box">

        <img src="{{url_for('uploaded_file', filename=img_url)}}" alt="Post Image" width="500" height="500">

		{% if logname_likes_post %}
		<form action="" method="post" enctype="multipart/form-data">
		  <input type="hidden" name="postid" value="{{postid}}"/>
		  <input type="submit" name="like" value="like"/>
		</form>
		{% else %}
		<!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
		<form action="" method="post" enctype="multipart/form-data">
		  <input type="hidden" name="postid" value="{{postid}}"/>
		  <input type="submit" name="unlike" value="unlike"/>
		</form>
		{% endif %}


        
		{% if owner == logname %}
        <form action="" method="post" enctype="multipart/form-data">
  			<input type="hidden" name="postid" value="{{postid}}"/>
  			<input type="submit" name="delete" value="delete this post"/>
		</form>
		{% endif %}

        <br>
        <a href="/u/{{owner}}/"> <img src="{{url_for('uploaded_file', filename=owner_img_url)}}" alt="Profile Pic" width="30" height="30"> {{owner}} </a>{{timestamp}}
        <br>
        {{likes}} 
			{% if likes == 1%}
				like
			{% else %}
				likes
			{% endif %}
        <br>
        {% for comment in comments %}
			<b>	<a href = "/u/{{comment.owner}}/"> {{comment.owner}} </a></b> {{comment.text}}

			{% if comment.owner == logname %}
			<form action="" method="post" enctype="multipart/form-data">
			  <input type="hidden" name="commentid" value="{{comment.commentid}}"/>
			  <input type="submit" name="uncomment" value="delete"/>
			</form>
			{% endif %}

			<br>
		{% endfor %}

		<form action="" method="post" enctype="multipart/form-data">
		  <input type="hidden" name="postid" value="{{postid}}"/>
		  <input type="text" name="text"/>
		  <input type="submit" name="comment" value="comment"/>
		</form>

        </div>
	</body>
</html>